= form_for @comment, :url => comment_pagina_path do |f|
  %ul
    %li.picture
      = image_tag"home/noavatar.png"
    %li.comments
      %p
        = f.text_area :comment, :placeholder => "It leaves your comment"
  %p.comment
    =f.submit "Comment", :class => "btn btn-primary"
