%ul
  - @fotos.each do |foto|
    %li
      = image_tag foto.pic_thumb, :width => 250, :height => 250
      - if foto.publicado
        .aprobado
          %a.icon{:href => admin_foto_path(foto.id, 0)}
      - else
        .desaprobado
          %a.icon{:href => admin_foto_path(foto.id, 1)}
