/*
 *= require_self
 *= require_tree
 *= requiere reset
 */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400italic);
 body{
//  background: rgb(207, 4, 4);
  background: #000;
 }
.header{
  //width: 1040px;
  margin: 0 auto;
  background: #1C8BC1;
  height: 80px;
  ul{
    padding: 22px 0px 0px 0px;
  	li{
  	  display: inline-block;
  	  width: 19%;
  	  a{
  	  	text-decoration: none;
  	  	color:#fff;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        &:hover{
          color: #000;
          border-radius: 3px;
        }
  	  }
      p{
        display: inline-block;
        width: 48%;
        a{
          position: relative;
          display: inline-block;
          padding: 7px 12px;
          font-size: 13px;
          font-weight: bold;
          color: #333;
          text-shadow: 0 1px 0 rgba(255,255,255,0.9);
          white-space: nowrap;
          background-color: #eeeeee;
          background-image: -moz-linear-gradient(#fcfcfc, #eee);
          background-image: -webkit-linear-gradient(#fcfcfc, #eee);
          background-image: linear-gradient(#fcfcfc, #eee);
          background-repeat: repeat-x;
          border-radius: 3px;
          border: 1px solid #d5d5d5;
          vertical-align: middle;
          cursor: pointer;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-appearance: none;
        }
      }
  	}
  }
}

.content{
  //width: 1040px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;	
  margin-top: 20px;
  background: #fff;
  margin-bottom: -150px;
}
.footer{
  height: 150px;
  background: #1C8BC1;
}
.pagination{
  height: 30px;
  font-size: 1.4em;
  a{
    color: #000;
    text-decoration: none;
  }
  .current{
    color: #fff;
    background: gray !important;
  }
  .first{
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid #ededed;
    background-color: #FFF;
    &:hover{
      background: gray;
      color: #000;
    }
  }
  .prev{
    padding: 5px 8px;
    border: 1px solid #ededed;
    background-color: #FFF;
    margin-left: 15px;
    margin-right: 15px;
    &:hover{
      background: gray;
      color: #000;
    }
  }
  .page{
    margin: 5px;
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid #ededed;
    background-color: #FFF;
    &:hover{
      background: gray;
      color: #000;
      width: 100%;
    }
  }
  .next{
    margin-right: 15px;
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid #ededed;
    background-color: #FFF;
    &:hover{
      background: gray;
      color: #000;
      width: 100%;
    }
  }
  .last{
    border-radius: 3px;
    padding: 5px 8px;
    border: 1px solid #ededed;
    background-color: #FFF;
    &:hover{
      background: gray;
      color: #000;
      width: 100%;
    }
  }
}
.vista{
  ul{
    li{
      .name{
        background-color: #045DCF;
        height: 38px;
        position: relative;
        text-align: left;
        width: 100%;
        z-index: 2;
      }
      .sombra{
        border-color: transparent #1A1D68 transparent transparent;
        border-style: solid;
        border-width: 0 30px 18px 0;
        position: absolute;
        width: 0;
        z-index: 1;
      }
    }
  }
}