/*
 *= require_self
 *= require_tree
 *= requiere reset
 */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400italic);
 body{
//  background: rgb(207, 4, 4);
  background: #000;
 }
.header{
  width: 1040px;
  margin: 0 auto;
  background: #000;
  height: 80px;
  ul{
  	li{
  	  display: inline-block;
  	  width: 20%;
  	  a{
  	  	text-decoration: none;
  	  	color:#fff;
        font-size: 1.4em
  	  }
  	}
  }
}

.content{
  width: 1040px;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;	
  margin-top: 20px;
  background: #fff;
}
.footer{
  width: 1040px;
  height: 150px;
}