
@media only screen and(max-width: 479px) { 
  .section{
    width: 100%;
  }
  .vistas{
    ul{
      li{
        a{
          text-decoration: none;
          font-size:2em;
          color: #fff;
        }
      }
    }
  }
 }
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
/* big landscape tablets, laptops, and desktops */
@media only screen and(min-width:1025px) {
  .section{
  	width: 75%;
  	display: inline-block;
  }
  .aside{
  	width: 24%;
  	display: inline-block;
  	vertical-align: top;
  }
  .vista{
  	text-align: center;
    ul{
      li{
        width: 600px;
        height: auto;
        a{
          text-decoration: none;
          font-size:2em;
          color: #fff;
        }
        p{
          display: inline-block;
          padding: 15px;
          text-align: right;
        }
      }
    }
  }
  .ranking{
    text-align: right;
    font-size: 1.3em;
  }
  .comentarios{
    text-align: left;
    font-size: 1.3em;
    p{
      label{
        vertical-align: top;
      }
      textarea{
        vertical-align: bottom;
        width: 100%;
        height: 90px;
      }
    }
    form{
      ul{
        li{
          display: inline-block
        }
      }
      .picture{
        width: 13%;
        height: 82px;
      }
    }
    .comments{
      width: 85%;
      textarea{
        position: relative;
        -webkit-appearance: none;
        background: #fff;
        box-shadow: inset 0 0 0 2px rgba(0,39,59,.2);
        border-radius: 4px;
        padding: 2px;
        border:none;
        ::-webkit-input-placeholder {
          color: red;
        }
        :-moz-placeholder { /* Firefox 18- */
          color: red;  
        }
        ::-moz-placeholder {  /* Firefox 19+ */
          color: red;  
        }
        :-ms-input-placeholder {  
          color: red;  
        }
      }
    }
    .note{
      font-size: 1.3em;
      text-align: center;
      width: 98%;
      height: auto;
      display: block;
      padding: 35px 0px 22px 0px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      background: none repeat scroll 0 0 #EFEFEF;
      border: 10px solid #CCCCCC;
      margin-top: 20px;
    }
    .coment{
      li{
        width: 100%;
        height: auto;
        display: block;
        padding: 35px 0px 35px 12px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -ms-border-radius: 5px;
        background: none repeat scroll 0 0 #EFEFEF;
        border: 1px solid #CCCCCC;
        margin-top: 20px;
        p{
          font-size: 0.9em;
        }
        .name{
          display: inline-block;
          padding-bottom: 8px;
        }
        .date{
          text-align: right;
        }
      }
    }
  }
  .ranking {
    height: 70px;
    position: relative;
    .div_gauge {
      background:rgb(255, 239, 60);
      max-width: 160px;
      height: 28px;
      position: absolute;
      z-index: 0;
      transition: width 450ms;
      -moz-transition: width 450ms;
      -webkit-transition: width 450ms;
      -ms-transition: width 450ms;
      &.stars-1{
        min-width:31px;
        -moz-transition: width 450ms;
        -webkit-transition: width 450ms;
        -ms-transition: width 450ms;
      }
      &.stars-2{
        min-width:62px;
        -moz-transition: width 450ms;
        -webkit-transition: width 450ms;
        -ms-transition: width 450ms;
      }
      &.stars-3{
        min-width:93px;
        -moz-transition: width 450ms;
        -webkit-transition: width 450ms;
        -ms-transition: width 450ms;
      }
      &.stars-4{
        min-width:124px;
        -moz-transition: width 450ms;
        -webkit-transition: width 450ms;
        -ms-transition: width 450ms;
      }
      &.stars-5{
        min-width:155px;
        -moz-transition: width 450ms;
        -webkit-transition: width 450ms;
        -ms-transition: width 450ms;
      }
    }
    .btn-estrella{
      border: none;
      width: 31px;
      height: 28px;
      background-image: url("comments/ranking.png");
      background-color:transparent;
      background-size: contain;
      text-indent: -100px;
      overflow: hidden;
      border-radius: 0;
      margin: 0;
      padding: 0;
      display: block;
      float: left;
      z-index: 2;
      position: relative;
      &.fill{
        background-color: #FFF03D;
      }
    }
    #new_ranking {
      width: 155px;
      position: absolute;
      right: 0;
    }
  }
}
