= form_for @ranking, :url => ranking_pagina_path do |f|
  %p
    =f.submit"1", :raiting => 1
  %p
    =f.submit"2", :raiting => 2
  %p
    =f.submit"3", :raiting => 3
  %p
    =f.submit"4", :raiting => 4
  %p
    =f.submit"5", :raiting => 5