= form_for @ranking, :class=>"ranking_form", :url => ranking_pagina_path do |f|
  .div_gauge
  =f.submit "1", :raiting => 1, :class=>"btn-estrella"
  =f.submit "2", :raiting => 2, :class=>"btn-estrella"
  =f.submit "3", :raiting => 3, :class=>"btn-estrella"
  =f.submit "4", :raiting => 4, :class=>"btn-estrella"
  =f.submit "5", :raiting => 5, :class=>"btn-estrella"
